<aside>
	<div class="container">
		<div class="row">
			<div class="col m4 offset-m4">
				<h1>hola rails</h1>
			</div>
			<div class="col m8 offset-m2">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae enim accusantium pariatur molestiae perspiciatis saepe ratione illum perferendis maxime fuga veritatis delectus labore inventore ipsam, quis vero ipsum deserunt explicabo. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident omnis error nobis maxime, explicabo voluptatem repellendus, recusandae voluptas quibusdam, minima est dolores inventore placeat corrupti ipsum adipisci, repudiandae fugiat consequatur. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo eius, distinctio reprehenderit, dolorem laudantium porro inventore excepturi reiciendis provident, exercitationem repellendus repudiandae necessitatibus blanditiis fuga doloribus quibusdam, rem cupiditate repellat!</p>
			</div>
		</div>
	</div>
</aside>