<div class="slider">
    <ul class="slides">
      <li>
        <!--<img src="ensalada.jpg">  random image -->
        <%= image_tag("ensalada.jpg", style: 'width:100%, height:345px') %>
        <div class="caption center-align">
          <h3>This is our big Tagline!</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
      <li>
      <!--  <img src="frutas.jpg">  random image -->
        <%= image_tag("frutas.jpg", style: 'width:100%, height:345px') %>
        <div class="caption left-align">
          <h3>Left Aligned Caption</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
      <li>
    <!--    <img src="jugo.jpg">  random image -->
        <%= image_tag("jugo.jpg", style: 'width:100%, height:345px') %>
        <div class="caption right-align">
          <h3>Right Aligned Caption</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
      <li>
     <!--   <img src="split.jpg">  random image -->
        <%= image_tag("split.jpg", style: 'width:100%, height:345px') %>
        <div class="caption center-align">
          <h3>This is our big Tagline!</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
    </ul>
  </div>
      