<div class="container">
	<h1>Editar Empleado</h1>

<%= render 'form', empleado: @empleado %>
<div class="col m2">
	<%= link_to 'ver', @empleado,class: "waves-effect waves-light btn" %> 
<%= link_to 'Atras', empleados_path,class: "waves-effect waves-light btn" %>
</div>
</div>
