 <footer class="page-footer verde">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="yellow-text text-lighten-1">Contactenos</h5>
        <p class="yellow-text text-lighten-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum quaerat veritatis ullam similique amet, sint esse, corporis fugit laboriosam minima asperiores! Commodi voluptatem unde molestiae iste sequi, ea, ut incidunt.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="yellow-text text-lighten-1">Redes</h5>
        <ul>
          <li><a class="yellow-text text-lighten-1" href="#!">facebook</a></li>
          <li><a class="yellow-text text-lighten-1" href="#!">twetter</a></li>
          <li><a class="yellow-text text-lighten-1" href="#!">instagram</a></li>
          <li><a class="yellow-text text-lighten-1" href="#!">linked</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2017 Copyright Text
    <a class="yellow-text text-lighten-1 right" href="#!">Mas informacion</a>
    </div>
  </div>
</footer>