<div class="navbar-fixed">
  <nav class="verde ">
  <div class="nav-wrapper container">
      <%= image_tag("logo.png", style: 'width:65px;') %>
    <a href="#!" class="brand-logo yellow-text text-lighten-1">La Jugosa</a>
    <a href="#" data-activates="mobile-demo" class="button-collapse yellow-text text-lighten-1"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a class="yellow-text text-lighten-1" href="sass.html">Sass</a></li>
      <li><a class="yellow-text text-lighten-1" href="badges.html">Components</a></li>
      <li><a class="yellow-text text-lighten-1" href="collapsible.html">Javascript</a></li>
      <li><a class="yellow-text text-lighten-1" href="mobile.html">Mobile</a></li>
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <li><a class="yellow-text text-lighten-1" href="sass.html">Sass</a></li>
      <li><a class="yellow-text text-lighten-1" href="badges.html">Components</a></li>
      <li><a class="yellow-text text-lighten-1" href="collapsible.html">Javascript</a></li>
      <li><a class="yellow-text text-lighten-1" href="mobile.html">Mobile</a></li>
    </ul>
  </div>
</nav>
        
</div>  
